<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>First heading</h1>
    <p>first paragraph</p>
    <form action="">
        <label >Enter height</label>
        <input type="number",name="height">
        <br>
        <button type="submit" form="form1" value="Submit the height">Submit</button>

    </form>
    <h2>enterde height value is 70</h2>
</body>
</html>